@import url('https://fonts.googleapis.com/css?family=Quicksand');

html {
    
}

body {
    text-align: center;
    background: #EEE;
    background-color: brown;
    font-family: 'Quicksand';
}

h1 {
  font-family: 'Quicksand';
  font-size: 40px;
  color: white;
  
}

h3 {
  font-family: 'Quicksand';
  /*font-size: 40px;*/
  color: white;
  
}

#students {
    list-style: none;
}

#students a {
  text-decoration: none;
  border-bottom: dotted 5px purple;
  color: magenta;
  font-size: 50px;
}